.write {
    margin-left: 15%;
}
.writeImg {
    width: 70vw;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm {
    position: relative;
}
.writeFormGroup {
    display: flex;
    align-items: center;
    width: 70vw;
}
.writeIcon {
    color: #7a7a7a;
    border: 1px solid;
    border-radius: 50%;
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.writeInput {
    width: 100%;
    border: none;
    font-size: 30px;
    outline: none;
    padding: 20px;
}
.writeInput::placeholder {
    color: #979797;
}

.writeText {
    font-size: 20px;
    font-family: inherit;
    height: 100vh;
}
.writeSubmit {
    position: absolute;
    top: 2%;
    right: 5%;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
}